.feature-box{
    background-image:linear-gradient(to right, rgba($color-white, .8), rgba($color-grey-light-1, .2));
    padding: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px; 
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15); 
    transition: transform 0.2s;

    @include respond(tab-port){
        padding: 2rem;

    }
    &__icon{
        font-size: 6rem;
        display: inline-block;
        background-image:linear-gradient(
            to right,
            $color-primary,
            $color-primary-dark);

        -webkit-background-clip: text;
        color: transparent;
        
        @media (min-resolution: 192dpi) and (max-width: 37.5em),
        (min-width: 125em) {
            background-image:linear-gradient(
                to right,
                $color-secondary-light,
                $color-secondary-dark);
    }

        @include respond(tab-port){
            margin-bottom: 0 ;
        }    
    }
    &:hover{
        transform: translateZ(1.2rem) scale(1.05);
        background-color: white;
    }
   

    
}
